@import url('normalize.css');

html{
    width: 100%;
    height: 100%;
    color: #868992;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

.clearfix:after {
   content: "";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.container{
    width: 100%;
    margin:0 auto;
    /*min-width: 1024px;
    max-width: 1360px;*/
}

section{
    width: 80%;
    margin: 0 auto;
}

.sectionNavMain{
    padding-top: 30px;
}

header{
    background-color: #354052;
    position: relative;
    height: 500px;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/header-building.png"), url("../img/header-do-people.png");
    background-blend-mode: overlay;
    margin-bottom: 50px;
}

footer{
    background-color: #354052;
    color: white;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 10px 0 10px;
}

img{
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

.width-full{
    width: 100%;
}

.width-half{
    width: 50%;
    height: 100%;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.width-30{
    width: 30%;
    display: inline-block;
    background-color: blue;
}

.width-70{
    width: 70%;
    display: inline-block;
    background-color: orange;
}

.width-80{
    width: 60%;
}

.backgroundGrey{
    background-color: #eff3f6;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.vertical-align{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.paddingLeft{
    padding-left: 30px;
}

.paddingRight{
    padding-right: 30px;
}

.sectionPadding{
    padding: 50px 0 50px 0;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 26px;
    color: #354052;
}

h3{
    font-size: 16px;
    color: #354052;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-red{
    color: #ef544a;
}

.text-white{
    color: white;
}

.text-dark{
    color: #354052;
}

.text-caps{
    text-transform: uppercase;
}

.divContainer{
    width: 60%;
    border: 10px solid rgba(150, 150, 150, 0.3);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 0 10px 0;
    transform: translateY(50%);
}

.divContent{
    background-color: #ef544a;
    margin: -10px -10px 0 0;
    padding-left: 10px;
    float: right;
    color: white;
    width: 100%;
}

.square{
    width: 100px;
    height: 100px;
    display: inline-block;
}

.squareInside{
    width: 90px;
    height: 90px;
    display: inline-block;
    color: #ef544a;
}

.borderWhite{
    border: 5px solid rgba(150, 150, 150, 0.3);
    padding: 0 0 5px 5px;
}

.borderRed{
    border: 5px solid rgb(239, 84, 74);
    margin: -5px -5px 0 0;
}

button{
    border: 1px solid #ef544a;
    background-color: #ef544a;
    color: white;
    padding: 0 20px 0 20px;
    margin: 0;
    line-height: 3rem;
}

input{
    line-height: 3rem;
    padding: 0 0 0 10px;
    border: 1px solid #868992;
    width: 300px;
}

input[placeholder]{
    color:#b3b3b3;
}

i{
    padding: 0 5px 0 5px;
}
